.calendar{
  margin-top: 5vh;

}

.ui-datepicker-calendar{
    height: 500px;
}

/*styling the calendar*/
.ui-datepicker body{
    background: url('../img/darkdenim3.png')
}

.ui-datepicker{

    font: 12pt Arial, sans-serif;
    /*
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    */

}

.ui-datepicker a{
    text-decoration: none;
}

.ui-datepicker table {
  width: 100vw;
}

/*styling the header section*/
.ui-datepicker-header {
  background:white;

  font-weight: bold;


  line-height: 30px;

  height: 5vh;
  font-size:3vh;

}


.ui-datepicker-title {
  text-align: center;
}


.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 20vw; margin: 0vw;
  text-align: center;
  cursor: pointer;
  background-image: url('../image/arrowright.png');
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: 2vh !important;
  color : black;
  font-weight: normal;
}


.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );*/
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  text-align: center;
  font-size: 2vh;
  border-bottom: 1px solid;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

/*styling the dates*/

.ui-datepicker tbody td {
  border-right: 1px solid #bbb;
  line-height: 100%;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}
.ui-datepicker tbody td a.ui-state-default {
  background: none;
  background-color: #ddd;
  font-size: 2vh; line-height: 5vh; height: 5vh;
  width : 14.285vw;
}
.ui-datepicker tbody td.ui-datepicker-current-day a.ui-state-default {
  background: none;
  background-color: #aaa;
  font-size: 2vh; line-height: 5vh; height: 5vh;
  color: white;
}

.ui-datepicker tbody td.history_day a.ui-state-default {
  background: none;
  background-color: #e09400;
  font-size: 2vh; line-height: 5vh; height: 5vh;
  color: white;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {

}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  background-color: #ddd;

}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
  background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: linear-gradient(top,  #ededed 0%,#dedede 100%);
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  height: 100%;
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}


.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  position: relative;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 100%;
    height: 100%;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 100%;
    height: 100%
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
}

table.entry{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #707070;
  border-collapse:separate;
  border-radius:6px;
  -moz-border-radius:6px;
    box-shadow 10px 10px 5px #888888;
}

td, th{
    font-family: 'Open Sans', sans-serif;
}

td.date{
  text-align: center;
vertical-align: middle;
}
td.descriptor{
  text-align: center;
    vertical-align: middle;
}

th.date, th.descriptor{
    border-bottom: 1px solid black;
}

thead.list_entry{
  font-size: 30px;
}
/*
#most_recent_text{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 30px;
    margin-left: 3px;
    display: inline;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-right: solid 2px black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
*/
tr.month_bar{
    margin-left: 10px;
    font: 40px 'Pacifico', Helvetica, sans-serif;
    color: #2b2b2b;

}

tr.normal_entry{
    height: 3vh;
}

tr.normal_entry:hover{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #DFDFDF , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #DFDFDF , white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #DFDFDF , white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #DFDFDF , white); /* Standard syntax */
    color: black;
}


.entry_table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
